img {
    pointer-events: none;
    user-drag: none;  
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

img:hover {
  opacity: 0;
  transition:opacity 2s;
}

#clipboard-button {
  width: 100px;
  height: 50px;
}
    
#clipboard-button svg {
  width: 12px;
  height: px;
}

#clipboard-icon {
  fill: white;
}
