img {
    pointer-events: none;
    user-drag: none;  
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

img:hover {
  opacity: 0;
  transition:opacity 2s;
}

#clipboard-button {
  width: 40px;
  height: 40px;
}
    
#clipboard-button svg {
  width: 40px;
  height: 40px;
}

#clipboard-icon {
  fill: white;
}

.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
.copybutton{background-color:#fff;border:0;outline:0;cursor:pointer;opacity:1;position:absolute;width:40px;height:40px;z-index:9;border-radius:24px}
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}
#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}
